*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:Poppins, sans-serif;
transition:background 0.8s ease,color 0.8s ease;
background:black;
color:white;
}

#starCanvas{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-2;
pointer-events:none;
}

.navbar{
position:fixed;
top:0;
width:100%;
height:70px;

display:flex;
justify-content:space-between;
align-items:center;

padding:0 40px;

background:rgba(0,0,0,0.4);
backdrop-filter:blur(10px);

z-index:1000;
}

.navbar nav a{
margin-left:25px;
text-decoration:none;
color:white;
font-weight:500;
}

#hero{
position:relative;
height:100vh;
overflow:hidden;

display:flex;
align-items:center;
justify-content:center;
}

#moonCanvas{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}
.moonTitle{
font-size:60px;
color:#0a0a0a;

text-shadow:
0 0 30px rgba(255,255,255,0.2),
0 0 80px rgba(255,255,255,0.1);

letter-spacing:6px;
}

section{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
}

h2{
font-size:40px;
}

.fade{
opacity:0;
transform:translateY(30px);
transition:0.8s;
}

.fade.show{
opacity:1;
transform:translateY(0);
}

body[data-section="gamedev"]{
background:#0f172a;
}

body[data-section="modeling"]{
background:#111827;
}

body[data-section="music"]{
background:#1e1b4b;
}

body[data-section="writing"]{
background:#fdf6e3;
color:#222;
}

body[data-section="art"]{
background:#18181b;
}